// * colors for web pages
$primary-color: #BCCC1C;
$secondary-color: #FF7D7D;
$background-color: #444749;
$sidebar-color: #242424;
$text-color: #ADB3B8;
$color: #fff;
$btn-color: #2A2B2B;
$heading-color: #8d8d8d;

// + font-family
$font: 'La Belle Aurore', cursive;
$font1: 'Helvetica';

// - colors for skill icon
$ReactJS: #5ED4F4;
$HTML5: #F06529;
$CSS3: #28A4D9;
$NodeJS: #578F0D;
$SASS: #FF7D7D;
$JavaScript: #EFD81D;