.success{
    width: 40rem;
    height: 15rem;
    margin: 10% auto 0;
    padding: 2rem;
    border: 1px solid #FF7D7D;
  
    .sub{
      text-align: center;
      font-size: 1.8rem;
      color: #FF7D7D;
    }
  
    .btn{
      background: none;
      color: #BCCC1C;
      border: 1px solid #BCCC1C;
      padding: 1rem 2rem;
  
      &:hover{
        color: #2A2B2B;
        background-color: #BCCC1C;
      }
    }
  }

.contact-form {
    width: 100%;
    margin-top: 20px;
  
    ul {
      padding: 0;
      margin: 0;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: #444749;
      height: 5rem;
      font-size: 1.7rem;
      font-weight: 600;
      color: #ADB3B8;
      padding: 0 20px;
      box-sizing: border-box;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
      transition: background-color 5000s;
      -webkit-text-fill-color: #ADB3B8 !important;
}
  
    textarea {
      width: 100%;
      border: 0;
      background: #444749;
      height: 50px;
      font-size: 1.7rem;
      font-weight: 600;
      color: #ADB3B8;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;
    }
  
    .flat-button {
      color: #BCCC1C;
      font-size: 1.5rem;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 1.5rem 3rem;
      border: 1px solid #BCCC1C;
      float: left;
      background: 0 0;
      text-transform: uppercase;
      float: right;
      text-align: center;
      margin-right: 10px;

      &:hover{
          color: #2A2B2B;
          background-color: #BCCC1C;
      }
    }
  }
  
  .map-wrap {
    // background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 50%;
    height: 115%;
    margin-top: -3%;
  }
  
  .leaflet-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
  }
  
  .info-map {
    position: absolute;
    background: #2A2B2B;
    top: 50px;
    right: 30%;
    z-index: 999999;
    width: 267px;
    padding: 20px;
    color: #BCCC1C;
    font-family: 'Helvetica';
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0;
    border: 1px solid #FF7D7D;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;
  
    span {
      font-size: 1.5rem;
      color: #FF7D7D;
  
      span {
        color: #FF7D7D;
      }
    }
  }